.excalidraw.theme, .excalidraw.theme--dark {
    --color-primary: #94d49c !important;
    --color-primary-darker: #4cd653 !important;
    --color-primary-darkest: #95e86e !important;
    --color-primary-light: #bedccc !important;
  }